@import "./variables.css";

.service-section{
    background-color:white;
    padding-top: 84px;
    padding-bottom: 134px;
}

.home-services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;;
}

.home-services figure{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.home-services figure figcaption{
    font-size: 18px;
    line-height: 27px;
}

.service-section .readmore{
    float: right;
    margin-top: 24px;
}

.home-portfolio .content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    height: 3   00px;
}
.home-portfolio .content figure{
    height: 100%;
    position: relative;
    margin: 0px;
}

.home-portfolio .content figure img{
    max-height: 100%;
}

.home-portfolio .content figure figcaption{
    height: 100%;
    position: absolute;
    top: 0;
}