@import "./variables.css";

@keyframes animate-shadow{
    from{
        box-shadow: 0px 0px 10px 4px #eeeeee;
    }
    to{
        box-shadow: 0px 0px 0px 0px #eeeeee;
    }
}

.service-section{
    background-color:white;
    padding-top: 84px;
    padding-bottom: 134px;
}

.home-services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;;
}

.home-services figure{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.home-services figure figcaption{
    font-size: 18px;
    line-height: 27px;
}

.service-section .readmore{
    float: right;
    margin-top: 24px;
}

.home-portfolio .content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    height: 250px;
    margin-left: -20px;
}
.home-portfolio .content figure{
    height: 100%;
    position: relative;
    margin: 0px;
    margin-left: 30px;
    border-radius: 300px;
    overflow: hidden;
    
}

.home-portfolio .content figure img{
    max-height: 100%;
    border-radius: inherit;
}

.home-portfolio {
    padding-top: 18px;  
    padding-bottom: 44px;
    background: linear-gradient(to bottom, white, var(--bg-color));
}

.home-portfolio header>p{
    margin-bottom: 34px;
}

.home-portfolio .content figure figcaption{
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 14px;
    backdrop-filter: brightness(40%);
    align-items: center;
    border-radius: inherit;
    transition: all  1s;
    
    
}

.home-portfolio .content figure:not(:hover)  figcaption{
    opacity: 0;
}  

.home-portfolio .content figure figcaption h3{
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
}

.home-contact{
    background-color: #ffffff;
    padding: 44px 0px;
}

.home-contact .home-contact-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.home-contact .home-contact-content>div{
    width: 50%;
}

.home-contact .home-contact-content>div:first-child{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.home-contact .home-contact-content>div:first-child>div{
    max-width: 500px;
    min-width: 400px;
    box-shadow: 0px 0px 14px 5px #eeeeee;
    padding: 22px;
    border-radius: 7px;
}

.home-contact .home-contact-content>div:first-child form{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.home-contact .home-contact-content>div:first-child form div{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.home-contact .home-contact-content>div:first-child form div{
    margin-bottom: 34px;
}

input, textarea{
    padding: 12px 14px;
    border-radius: 100px;
    border: 1px solid #dddddd;
}

input, textarea, input:hover, input:active, textarea:hover, textarea:active{
    outline-width: 0px;
}
textarea{
    resize: none;
    border-radius: 7px;
    height: 64px;
}

.home-contact button{
    border: none;
    box-shadow: 0px 0px 10px  1px #cccccc;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.home-contact button:hover{
    box-shadow: none;
    outline-width: 0px;
}
.home-contact button:active{
    opacity: .2;
}

.home-contact button span{

    color: white;
    padding: 7px;
}

.home-contact .home-contact-content>div:last-child ul{
    list-style: none;
    display: flex;
    padding: 0px;
}

.home-contact .home-contact-content>div:last-child ul li:not(:first-child){
    margin-left: 22px;
}

.home-contact .home-contact-content>div:last-child ul li a{
    padding: 14px;
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px 4px #eeeeee;
    border-radius: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.home-contact .home-contact-content>div:last-child ul li a span{
    font-size: 18px;
}

.home-contact .home-contact-content>div:last-child ul li a:hover{
    animation-name: animate-shadow;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}