@import "./variables.css";
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--padding-large);
  height: var(--header-height);
  overflow: hidden;
  border: 1px solid red;
}

.header img {
}
