@import "./variables.css";
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--padding-large);
  height: var(--header-height);
  overflow: hidden;
  background-color: var(--card-color);
}

.header img {
  display: inline-block;
  height: 100%;
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  padding: var(--padding-mid);
}

.header nav ul a {
  color: var(--accent-link-color);
}
