@import "./variables.css";
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--padding-large);
  max-width: 1000px;
  height: var(--header-height);
  overflow: hidden;
}

.header img {
  display: block;
  height: 100%;
}
